.HomePage {
  padding-left: 30px;
}

.list {
  padding: 0;
  list-style-position: inside;
}

.listItem {
  display: inline-block;
  padding: 5px 0;
  text-decoration: none;
  color: #000;
}

.listItem:hover,
.listItem:focus {
  color: #8d6675;
}
