.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.NavList {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-bottom: 20px;
  list-style-type: none;
  border-bottom: 1px solid #8d6675;
}

.NavLink {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.activeNavLink {
  color: #8d6675;
}
