@import-normalize;

body {
  padding-top: 90px;
  background-color: rgb(175, 157, 146);
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.473);
}

.title {
  font-weight: 500;
}

.list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

/* .listItem {
} */

.reaction {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: capitalize;
  border: 1px solid rgb(133, 117, 107);
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms ease, color 250ms ease;
}

.reaction:hover,
.reaction:focus {
  color: rgb(255, 253, 253);
  background-color: rgb(133, 117, 107);
}
